.contact-me {
    background-color: $secondaryBackgroundColor;
    
}
.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.form-top input{
    display: block;
    width: calc(50% - 20px);   
    float: left; 
    margin: 10px;
    padding: 10px;
}
.message {
    width: 97%;
    margin: 10px;
    padding: 10px;

}
.form-top input,
.message {
    border: none;
    border-bottom: 1px solid $underlineColor;
    font-size:1.6rem;
}
.button-send {
    display: flex; 
    justify-content: center;
}
.submitButton {
    border-radius: 40px;
    position: relative;
    margin: 10px 0 25px 0;
    padding: 25px 50px;
    background-color: $mainColor;
    color: $anchorColor;
    font-size: 1.6rem;
    transition: $allTrans;
    padding: 10px 30px;
    font-size: 3rem;
    
}
.submitButton:hover {
    transform: scale(1.2);
}