html {
    font-size: 62.5%;
}
h1, h3, h4, h5, p, a {
    font-family: $muli;
}
h1 {
    font-size: 6.8rem;
}
h2 {
    font-size: 4.2rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.2rem;
}
h5 {
    font-size: 2.0rem;
}
p {
    font-size: 1.6rem;
    line-height: 1.6;
}
.wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.inner-wrapper {
    max-width: 60%;
    margin: 0 auto;
}
.nav-list li {
    list-style: none;
}
.section-header h3{
    border-bottom: 2px solid black;
    padding: 10px;
}
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.skills-icon, .foot-icon{
    color: $iconColor;
}
.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}