header {
    // background: linear-gradient(90deg, #00f2fe 0%, #0393ff 100%);
    // background-size: contain;
    height: 100vh;
    // background: linear-gradient(90deg, #00f2fe 0%, #0393ff 100%),url('https://picsum.photos/1920/1080');
    background: linear-gradient(90deg, rgba(0, 242, 254, .75) 0%, rgba(3, 147, 255, .75) 100%), 
    url('/public/assets/background.jpg') no-repeat center;
    background-size: cover;
    // position: relative;

.logo-container h1 {
    margin:0;
    font-family: $roboto, sans-serif;
    border: 4px solid $underlineColor;
    padding: 10px;
    color: $anchorColor;

}
.hero-text {
    backface-visibility: hidden;
}
.hero-text h1 {
    color: #ffffff;
    font-weight: 700;
    font-family: $roboto, sans-serif;
    letter-spacing: 2px;
    margin-bottom: 5px;
    // border-bottom: 2px  solid $underlineColor;
}
.hero-text h4 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    margin-top: 20px;
}
    
}
.line {
    display: inline-block;
    position: relative;
}
.line:before,
.line:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 2px solid $underlineColor;
    border-top: 2px solid $underlineColor;
    top: -6px;
    right: -100px;
    width: 200px;
}
.header-button {
    padding: 25px 50px;
    background: transparent;
    border-radius: 40px;
    border: 2px solid #fff;
    color: #121212;
    margin: 0 10px 0 10px;
    font-size: 1.6rem;
    transition: $allTrans;

}
.header-button:hover {
    background-color: #ffffff;
}
.nav-head {
    display: flex;
    justify-content: space-between;
    
} 
// .logo-container {
    
// }
.nav-list {
    display: flex;
    padding: 0;
    li {
        margin: 10px;
        transition: $allTrans;
    }   
    li:hover {
        transform: scale(1.2);
    }
        a {

            text-decoration: none;
            font-size: 1.8rem;
            color: $anchorColor;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-bottom: $underlineColor 2px solid;
            transition: $allTrans;

        
        }
            a:hover {
                // color: $accentColor;
        
                transform: scale(2);
                border-bottom: $accentColor 2px solid;
                

            }

}

.navList a:hover, .navList a:focus {
    top: -3px;
    font-size: 0.8rem;
}
.navList a:hover::after, .navList a:focus::after {
    top: 40px;
    opacity: 1;
}

.hero-text {
    position: relative;
    top: 35%;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
}
.burger {
    display: none;
    color: white;
    font-size: 50px;
    padding: 5px 10px;
    margin: 10px; }

