.skills-icons-item {
    font-size: 8rem;
}
.skills-icons {
    background-color: $mainColor;
    width: calc(33% - 80px);
    text-align: center;
    color: #ffffff;
    padding: 20px 10px;
    margin: 20px 40px;
    max-width: 250px;
    min-width: 100px;
    border-radius: 40px;
    box-shadow: -2px 9px 25px #d3d3d3;
}
    .skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}